.header .left{float: left}
.header .right{float: right}
.form-group{ width: 100%; }

.form-body.empty { display: none}
.main {clear:both}
.footer {text-align: center;}
.dialog{
    position: absolute;
    top: 100;
    min-width: 75%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.2);
    max-width: 90%;
    overflow-x: auto;
}
.clear {clear: both}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  margin-top: -5;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #fafafa;
}
.form-control {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 5px 0;
    min-width: 250px;
    padding: 8px 10px;
}
input:read-only{
    background-color: inherit;
    border: 0;
}
input[type=file]{
    width: 0;
}
.header{
    background-color: #1b1b1b;
    color: white;
    height: 43;
}
.header .brand{
    font-size: 1.5rem;
    margin: 20;
}
.header .right{
    padding: 10;
}
.header .user{
    color: #6baae8;
}
.header .user-actions{
    position:absolute;
    background-color:#1b1b1b;
    right:0;
    width:200;
    border-color: #6baae8;
    text-align:center;
    display:none;
}
.header .user-actions li{
    list-style: none;
    padding: 5;
}
.header a{
    color: white;
    text-decoration: none;
}
.header input{
    background-color: #1b1b1b;
    border-color: #6baae8;
    color: #6baae8;
}
.header .autocomplete-items div {
    background-color: #6baae8 !important;
    border-bottom: 1px solid #5394d1 !important;
}

.main{
    margin-top: 20;
    min-height: 80vh;
}
dt{
    font-style: italic;
    font-weight: bold;
    color: #7d8493;
}
select {color: #757575;}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
  color: #BBBBBB;
  opacity: 1;
}
.form .form-group{display: inline-block;}
.form .form-group.w50{ width: 49.8%; }
.form .form-group.w33{ width: 33.1%; }
.form .form-control{width: 100%;}
.form .autocomplete{width: 100%;}
.form .field-error{color: #f93e3e; font-weight: bold;}
.form label{
    font-weight: bold;
}
.form fieldset{
    margin-bottom: 20px;
    background: rgba(97,175,254,.1);
    border: solid 1px #61affe;
}
.form legend{
    font-weight: bold;
    font-size: 125%;
    color: #61affe;
}
.btn {
    background: transparent;
    border: 2px solid gray;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #3b4151;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 23px;
    transition: all .3s;
    text-decoration: none;
    margin: 5;
    cursor: pointer;
}
.btn.add{
    color: #49cc90;
    border: 2px solid #49cc90;
}
.btn.view{
    color: #61affe;
    border: 2px solid #61affe;
}
.btn.edit{
    color: #fca130;
    border: 2px solid #fca130;
}
.btn.delete{
    color: #f93e3e;
    border: 2px solid #f93e3e;
}
.qs{
    background-color: white;
    margin: 20;
    padding: 20;
}
.qs .filters{
    margin-top: 20;
}
.qs .subsets a.active{
    border-bottom: solid 3px #61affe;
}
.qs .subsets a{
    margin: 10;
    padding-bottom: 3;
    text-decoration: none;
    color: #3b4151;
}
.qs .filters select{
    width: 250;
}
.qs .data{
    margin-top: 20;
    overflow-x: auto;
    width: 100%;
}
.qs table{
    border-spacing: 0px;
    /* background-color: #f9fafa; */
}

.qs table thead th{
    text-align: left;
}
.qs td, .qs th{
    height: 40px;
    vertical-align: top;
    padding: 10;
}
.qs tr:nth-child(even) td{
    background-color: inherite;
}
.qs .paginator{
    margin: 20;
}
.qs .action{
    display:inline-block;
}
.qs td.actions{
    vertical-align: center;

}
.qs .queryset-actions{
    margin-top: 10;
}
.fieldset .qs {
    margin: 10;
    padding: 0;
}
.view .fieldset h1{
    display: none;
}
.view .field{
    padding: 10;
    background: white;
    line-height: 15px;
    display: inline-block;
    width: 45%;
}
.view .renderer{
    margin: 20;
}
.back{
    position: fixed;
    right: 30;
    bottom: 30;
    background-color: #49cc90;
    width: 50;
    height: 50;
    border-radius: 50%;
}
.back a{
    color: white;
    margin-left: 10;
    font-size: 40;
    text-decoration: none;
}
th{
    height: 40px;
}
h1{
    color: #3b4151;
    font-size: 36px;
    margin: 0 20 20 20;
}
h2{
    margin: 20 20 0 20;
    color: #3b4151;
}
.fieldset{
    margin: 0 20 0 20;
    background: white;
    padding: 10;
    margin-bottom: 10;
}
small {
    background: #7d8492;
    border-radius: 57px;
    display: inline-block;
    font-size: 10px;
    margin: 0 0 0 5px;
    padding: 2px 4px;
    position: relative;
    top: -5px;
    vertical-align: super;
    color: white;
}
.form-header, .form-body, .form-footer{
    margin: 20px;
    min-height: 40px;
}
.form-body{
    background-color: white;
}
.form-body form{
    padding: 10px;
}
.form-container.login{
    margin-top: 100;
}
.form-header.login{
    text-align: center;
}
.form-wrapper.login{
    width: 300;
    margin: auto;
    background-color: white;
}
.form-wrapper.login label, .form-wrapper.login input {
    width: 100%;
}
.form-container.login .form-group.token{
    display: none;
}
.feedback{
    display: none;
    padding: 15;
    background-color: #49cc90;
    color: white;
    width: 300;
    position: fixed;
    top: 60;
    right: 20;
    text-align: center;
    z-index: 9999;
}
.info{
    padding: 10;
    background-color: rgba(97,175,254,.1);
    border: solid 1px #61affe;

}
.dialog-layer{
    background-color: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.7;
    display: none;
}
